dataset/**
errorMap*/**
preprocessData/**
fullVGGPreprocessData
**/*.pth
models/**
models.backup/**
__pycache__
**/*.tar
**/*.pyc
.DS_Store
._.DS_Store
testing/**
**/*.png
**/*.pickle
Results/**
**/*.log